name: GameList-Converter-Publisher

on:
  pull_request:
    branches:
      - main
  release:
    types: [created]

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  getVersion:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.create-environment-variables.outputs.version }}
    steps:
      - uses: actions/checkout@v4

      - name: Generate env vars
        id: create-environment-variables
        run: |
          echo "version=$(${{github.workspace}}/gradlew -q getVersionName)" >> $GITHUB_OUTPUT

  build:
    strategy:
      matrix:
        platform: [windows, linux, macos]
        include:
          - platform: windows
            runsOn: windows-latest
            zipCommand: 'Compress-Archive -Path composeApp\build\compose\binaries\main-release\app\GameListConverter -DestinationPath .\GameListConverter-Windows.zip'
            archiveName: GameListConverter-Windows.zip
          - platform: linux
            runsOn: ubuntu-latest
            zipCommand: 'tar -czf GameListConverter-Linux.tar.gz -C composeApp/build/compose/binaries/main-release/app .'
            archiveName: GameListConverter-Linux.tar.gz
          - platform: macos
            runsOn: macos-latest
            zipCommand: 'tar -czf GameListConverter-Macos-Not-Notarized.tar.gz -C composeApp/build/compose/binaries/main-release/app .'
            archiveName: GameListConverter-Macos-Not-Notarized.tar.gz
    runs-on: ${{ matrix.runsOn }}
    needs: getVersion
    steps:
      - uses: actions/checkout@v4

      - name: "Set up JDK 17 for ${{ matrix.platform }}"
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: 'adopt'

      - name: "Build and run tests"
        if: matrix.platform == 'windows'
        run: |
          ./gradlew allTests

      - name: Publish Unit Test Results for linux build
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: false # ${{ matrix.platform == 'linux' && always() }}
        with:
          junit_files: "**/build/reports/kover/*.xml"

      - name: Publish Unit Test Results for macOS build
        uses: EnricoMi/publish-unit-test-result-action/macos@v2
        if: false #${{ matrix.platform == 'macos' && always() }}
        with:
          junit_files: "**/build/reports/kover/*.xml"

      - name: Publish Unit Test Results for windows build
        uses: EnricoMi/publish-unit-test-result-action/windows@v2
        if: ${{ matrix.platform == 'windows' && always() }}
        with:
          files: |
            modules/ListExporter/build/test-results/desktopTest/*.xml

      - name: "Build v${{ needs.getVersion.outputs.version }} app for ${{ matrix.platform }}"
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        run: |
          ./gradlew createReleaseDistributable
          ${{ matrix.zipCommand }}

      - name: Get Release
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        id: get_release
        uses: bruceadams/get-release@v1.3.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: "Upload Release Asset v${{ needs.getVersion.outputs.version }} for ${{ matrix.platform }}"
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        id: upload-release-asset
        uses: basefas/upload-release-asset-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          release_id: ${{ steps.get_release.outputs.id }} # This pulls from the Get RELEASE step above, referencing its ID to get its outputs object, which include a `id`.
          asset_path: ./${{ matrix.archiveName }}
          asset_name: ${{ matrix.archiveName }}
